@import "normalize.css";
@import "~bootstrap/scss/bootstrap";

body, html, #root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
